In [61]:
#pip install matplotlib==2.2.3

In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline

fp = 'soc-sign-bitcoinalpha.csv'
df = pd.read_csv(fp, header=None, names=['SOURCE','TARGET','RATING','TIME'])

df.head()

   SOURCE  TARGET  RATING        TIME
0    7188       1      10  1407470400
1     430       1      10  1376539200
2    3134       1      10  1369713600
3    3026       1      10  1350014400
4    3010       1      10  1347854400

In [2]:
df.describe()

             SOURCE        TARGET        RATING          TIME
count  24186.000000  24186.000000  24186.000000  2.418600e+04
mean     864.029314   1051.093815      1.463946  1.347099e+09
std     1592.085638   1871.765504      2.903656  3.397039e+07
min        1.000000      1.000000    -10.000000  1.289192e+09
25%       58.000000     66.000000      1.000000  1.312690e+09
50%      238.000000    279.000000      1.000000  1.345435e+09
75%      898.000000   1068.000000      2.000000  1.369454e+09
max     7604.000000   7604.000000     10.000000  1.453439e+09

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24186 entries, 0 to 24185
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SOURCE  24186 non-null  int64
 1   TARGET  24186 non-null  int64
 2   RATING  9614 non-null   category
 3   TIME    24186 non-null  int64
dtypes: category(1), int64(3)
memory usage: 590.8 KB

In [43]:
df.RATING.value_counts()

 1     13760
 2      4113
 3      1933
 5       957
-10      812
 4       744
 10      494
-1       429
 8       224
 6       201
 7       149
-5       112
 9        75
-2        68
-3        62
-8        15
-4        14
-9        13
-6         6
-7         5
Name: RATING, dtype: int64

We see `RATING` is a category ranging from -10 to 10.

In [3]:
# create a copy of the dataframe: df1
df1 = df.iloc[:,0:3]
df1.head()

   SOURCE  TARGET  RATING
0    7188       1      10
1     430       1      10
2    3134       1      10
3    3026       1      10
4    3010       1      10

In [4]:
# read the dataframe into a graph object
G = nx.from_pandas_dataframe(df1, 'SOURCE', 'TARGET', edge_attr='RATING', create_using=nx.DiGraph())
print(nx.info(G))

Name:
Type: DiGraph
Number of nodes: 3783
Number of edges: 24186
Average in degree:   6.3933
Average out degree:   6.3933

In [ ]:
nx.draw_networkx(G);

This isn't very informative, but it's a cool looking graphic.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24186 entries, 0 to 24185
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SOURCE  24186 non-null  int64
 1   TARGET  24186 non-null  int64
 2   RATING  9614 non-null   category
 3   TIME    24186 non-null  int64
dtypes: category(1), int64(3)
memory usage: 590.8 KB